@use "@/styles/mixins" as m;

.favorite {
  margin-top: 190px;
  .title {
    @include m.sectionTitle;
  }
  .content {
    margin-top: 118px;
    display: flex;
    gap: 48px;
    .card {
      position: relative;
      &::before {
        content: url("@/assets/arrow.svg");
        position: absolute;
        bottom: 35px;
        right: 0;
      }
      .cardTitle {
        font-size: 32px;
        font-weight: 500;
        line-height: 50px;
        margin-top: 30px;
      }
      .explore {
        color: rgba(127, 127, 127, 1);
        font-size: 24px;
        font-weight: 500;
      }
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}
