@use "@/styles/mixins" as m;
@import "@/styles/vars";
.app {
  padding: 0 20px;
  max-width: 100%;
  overflow-x: hidden;
}

.container {
  max-width: 1720px;
  width: 100%;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
}
